#sortButton,#loadButton {
	background-color:rgba(139, 184, 243, 0.274);
	border:2px solid #0c0c0c;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	float: right;
	margin-right: 7em;
	margin-bottom: 2em;
	margin-top: 7em;

}

h1 {
	text-align: center;
	margin-top: 1em;
	background-color: rgba(139, 184, 243, 0.274);
}

h2 {
	margin-left: 2em;
	max-width: 9.5em;
	background-color: rgba(139, 184, 243, 0.274);
}

p {
	margin-left: 3em;
	margin-bottom: 0;
	font-size: larger;
}

#selectableCards {
	margin-left: 3em;
}

#selectedCards {
	font-size: 7em;
	min-height: 1.5em;
	margin-left: 0.5em;
}

#sortCards {
	font-size: 7em;
	min-height: 1.5em;
	margin-left: 0.5em;
}

.cards {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	font-size: 7em;
	margin-right: 0.3em;
}

#bubbleSteps, #mergeSteps, #quickSteps {
	font-size: 25px;
	float: left;
	margin-left: 2em;
	margin-bottom: 2em;
	margin-top: 1em;
	background-color: rgba(139, 184, 243, 0.274);
	padding: 3px;
}
